{% extends 'base.html.twig' %}

{% block title %}
	Le Quai Antique
{% endblock %}

{% block body %}
	<!-- banner-->
	<div class="banner">
		<nav class="navbar dark-mode" role="navigation">
			<ul class="navbar__links">
				<li class="navbar__link first">
					<a href="#">Accueil</a>
				</li>
				<li class="navbar__link second">
					<a href="#section2">reservation</a>
				</li>
				<li class="navbar__link third">
					<a href="#">la carte</a>
				</li>
				<li class="navbar__link four">
					<a href="#">compte</a>
				</li>
				<li class="navbar__link four">
					<a href="#">horaires</a>
				</li>
				<li class="navbar__link fifth">
					<a href="#">Contact</a>
				</li>
			</ul>
			<button class="burger reveal">
				<span class="bar"></span>
			</button>
		</nav>
		<a href="#" class="a__reservation reveal">reservation</a>
		<div class="title__h1 reveal">le quai antique</div>
	</div>
	<!-- carousel-->
	<div class="carousel">

		<div class="carousel-item">
			<div class="carousel-box">
				<div class="title">Le Saumon</div>
				<img src="/assets/Images/casey-lee-awj7sRviVXo-unsplash.jpg" alt="" srcset="">
			</div>
		</div>

		<div class="carousel-item">
			<div class="carousel-box">
				<div class="title">La Soupe Gourmande</div>
				<img src="/assets/Images/cala-w6ftFbPCs9I-unsplash.jpg" alt="" srcset="">
			</div>
		</div>

		<div class="carousel-item">
			<div class="carousel-box">
				<div class="title">Le Tomahawk D'aubrac</div>
				<img src="/assets/Images/photo-1432139509613-5c4255815697.avif" alt="" srcset="">
			</div>
		</div>

		<div class="carousel-item">
			<div class="carousel-box">
				<div class="title">Le Rustique</div>
				<img src="/assets/Images/delfina-cocciardi-NDPBK-d-03M-unsplash.jpg" alt="" srcset="">
			</div>
		</div>

		<div class="carousel-item">
			<div class="carousel-box">
				<div class="title">Le Club Avocat</div>
				<img src="/assets/Images/heather-ford-Ug7kk0kThLk-unsplash.jpg" alt="" srcset="">
			</div>
		</div>

		<div class="carousel-item">
			<div class="carousel-box">
				<div class="title">La Tartine Mollet</div>
				<img src="/assets/Images/joseph-gonzalez-fdlZBWIP0aM-unsplash.jpg" alt="" srcset="">
			</div>
		</div>

		<div class="carousel-item">
			<div class="carousel-box">
				<div class="title">Les Macarons</div>
				<img src="/assets/Images/mk-s-en1n49WWVgA-unsplash.jpg" alt="" srcset="">
			</div>
		</div>

		<div class="carousel-item">
			<div class="carousel-box">
				<div class="title">La Cesar</div>
				<img src="/assets/Images/taylor-kiser-EvoIiaIVRzU-unsplash.jpg" alt="" srcset="">
			</div>
		</div>

		<div class="carousel-item">
			<div class="carousel-box">
				<div class="title">La Fromaggi</div>
				<img src="/assets/Images/chad-montano-MqT0asuoIcU-unsplash.jpg" alt="" srcset="">
			</div>
		</div>
		<div class="carousel-item">
			<div class="carousel-box">
				<div class="title">La Soupe D'oignon</div>
				<img src="/assets/Images/photo-1505253668822-42074d58a7c6.avif" alt="" srcset="">
			</div>
		</div>
	</div>
	
	<!--main-->
	<div class="main">
    <div class="contenaire1">
      <div class="presentation"></div>
      <div class="texte">
        <p class="txt_p reveal">
          Le chef Arnaud Michant,<br />
          <br />
          Ouvre son troisième restaurant Le Quai Antique, <br />
          qui sera installé à Chambéry et proposera<br />
          au déjeuner comme au dîner une expérience gastronomique,<br />
          à travers une cuisine sans artifice.
        </p>
      </div>
    </div>
		<div class="contenaire2">
			<div class="menu__">
			</div>
			<div class="texte">
				<p class="txt_p reveal">
					Venez d'ecouvrir nos menus aussi gourmand les un que les autres, <br />
					avec un prix impatable.
				</p>
				<a href="#" class="btn_main">les menus</a>
			</div>
		</div>
		 <div class="contenaire1">
      <div class="horaires"></div>
      <div class="texte">
        <p class="txt_p reveal">
          Nos horaires sont sujet a 
          être modifier sur les jours 
          fériés et pendant les vacances scolaires.
        </p>
      </div>
    </div>
    <div class="contenaire2">
			<div class="carte__">
			</div>
			<div class="texte">
				<p class="txt_p reveal">
					Venez d'ecouvrir nos et vous metre 
          l'eau a la bouche avec nos plats et desert alechant.
				</p>
				<a href="#" class="btn_main">la carte</a>
			</div>
		</div>
	</div>

    <!-- footer-->
    <div class="footer">
      <div class="foot1">
        <h4 class="h4_foot">horaires</h4>
        <p class="p_foot">
          Du lundi au vendredi<br/>
          12:00-14:30
          19:00-21:00 <br/>
          Samedi et dimanche<br/>
          12:00-14:30
          19:00-22:30<br/>
          Fermé le jeudi
        </p>
      </div>
      <div class="foot1">
        <div class="soc_foot">
          <h4 class="h4_foot">soscials</h4>
          <div class="sosc__a">
            <a href="" class="a_tiktok"><img src="/assets/Images/tiktok.png" alt="" srcset="" width="25px"></a>
            <a href="" class="a_twitter"><img src="/assets/Images/twitter (1).png" alt="" srcset="" width="25px"></a>
            <a href="" class="a_ig"><img src="/assets/Images/instagram.png" alt="" srcset="" width="25px"></a>
          </div>
        </div>
        <div class="res_foot">
          <h4 class="h4_foot">réservation</h4>
          <p class="p_foot">
            Les réservations se<br/>
             font sur site ou par téléphone.
          </p>
        </div>
      </div>
      <div class="foot3">
        <h4 class="h4_foot">contact</h4>
        <div class="foot3__p">
        <p class="p_foot"><img src="/assets/Images/phone-call.png" alt="" srcset="" width="20px"> 06.11.22.33.65</p>
        <p class="p_foot"><img src="/assets/Images/arobase.png" alt="" srcset="" width="20px"> lequaiantique@support.com</p>
        <p class="p_foot"><img src="/assets/Images/gps.png" alt="" srcset="" width="20px"> 3 Rue des éléphant Chambéry 73330</p>
      </div>
      </div>
    </div>
      <div class="copyright">
        <h4 class="h5_foot">antoine guerre-genton 2023  <img src="/assets/Images/copyright.png" alt="" srcset="" width="25px"></h4>
      </div>

	</div>


	<!-- cursor-->
	<div class="cursor"></div>
	<div class="cursor cursor2"></div>

{% endblock %}
